.login-container {
  position: relative;
  width: 100%;
  height:100%;
  background-image: url("../../assets/images/login.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.login-form {
  max-width: 360px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
